<div class="nav-sup row">
    <div class="col-sm-4">
        <img src="./../../../assets/seto-kayba.png" alt="" class="yugioh-seto-kayba mx-auto d-block">
    </div>
    <div class="col-sm-4">
        <img src="./../../../assets/yugioh-logo.PNG" alt="" class="yugioh-logo mx-auto d-block">
    </div>
    <div class="col-sm-4">
        <img src="./../../../assets/yugi-moto-png.png" alt="" class="yugioh-yugi mx-auto d-block">
    </div>
</div>

<div class="container sub-header">
    <div class="row">
        <div class="col-sm-6 text-center">
            <div class="form-group">
                <label for="searchField">Pesquise por uma carta</label>
                <input type="email" class="form-control" id="searchField" aria-describedby="searchHelp"
                    placeholder="Nome da carta">
                <small id="searchHelp" class="form-text text-muted">Ex: Dragão Branco de Olhos Azuis</small>
            </div>
        </div>
    </div>
</div>