* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body {
    background-color: rgb(214, 214, 214);
}
a:hover {
    cursor: pointer;
}

.card-title {
    overflow-y: hidden;
}

.card-body {
    height: 230px;
    overflow-y: auto;
}